
<div class="container-fluid" ng-controller="changDueController">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin
                <small>
                    Change Due Date
                </small></h1>
        </div>
    </div>

        <ul class="pagination">
            <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
            <li ng-repeat="n in [] | range: pagination.numPages"
                ng-class="{active: n == pagination.page}"><a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a></li>
            <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
        </ul>

    <table class="table table-striped" id="bookLoansTable" >
        <tr>
            <th>#</th>
            <th>Borrower</th>
            <th>Book</th>
            <th>Branch</th>
            <th>Date Out</th>
            <th>Due Date</th>
        </tr>
        <tr ng-repeat="a in book_loans | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
            <td>{{$index+1}}</td>
            <td>{{a.borrower.name}}</td>
            <td>{{a.book.title}}</td>
            <td>{{a.branch.libraryName}}</td>
            <td>{{a.dateOut}}</td>
            <td><button type="button" class="btn btn-sm btn-warning" style="width:100px;height:30px" ng-click=showModify(a)>{{a.dueDate}}</button></td>
            <td></td>

        </tr>
    </table>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" id="editDueModal" modal="editDueModal"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <span>Enter new Due Date:</span> <input type="text"   ng-model="book_loan_temp.dueDate">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            ng-click="closeEditModal()">Close</button>
                    <button type="button" class="btn btn-primary"
                            ng-click="editDueDate()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

